<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs") %>
</head>
<body>
    
    <%- include("./partials/nav.ejs") %>

    <div class="create-blog">
        <h1> <%= title %> </h1>
        <form action="/schedule/edit/<%= appointment.appointment_no %>?_method=PUT" method="POST">
            <label for="concern">Concern:</label>
            <input type="text" id="concern" name="concern" value="<%= appointment.concern %>" required>

            <label for="appointment_date">Appointment Date:</label>
            <input type="date" id="appointment_date" name="appointment_date" value="<%= appointment.appointment_date %>" required>

            <label for="contact_no">Contact No:</label>
            <input type="text" id="contact_no" name="contact_no" value="<%= appointment.contact_no %>" required>

            <label for="patient_id">Patient ID:</label>
            <input type="text" id="patient" name="patient_id" value="<%= appointment.patient_id %>" required>

            <label for="labResults">Lab Results ID:</label>
            <input type="text" id="labResults" name="labresults_id" value="<%= appointment.labresults_id %>">

            <label for="midwife_id">MIDWIFE ID:</label>
            <input type="text" id="midwife" name="midwife_id" value="<%= appointment.midwife_id %>" required>

            <button>Apply Changes</button>
        </form>
    </div>

    <%- include("./partials/footer.ejs") %>
</body>
</html>