<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    
    <%- include("./partials/nav.ejs") %>

    <div class = "blogsContent">
        <h1> <%= title %></h1>

        <% if (patient.length > 0) { %>
            <% patient.forEach(patient => { %>
              <div class = "blogs">
                <a class="single" href="/patient/<%= patient.id %>">
                    <h2 class="title"><%= patient.last_name %></h2>
                    <p class="snippet"><%= patient.first_name %> <%= patient.middle_name %></p>
                    <p class="contact"><%= patient.contact_no %></p>
                </a>
              </div>
            <% }) %>
          <% } else { %>
            <p>There are no patients to display...</p>
          <% } %>
    
          
    </div>

    <%- include("./partials/footer.ejs") %>
</body>
</html>